body {
    font-family: "Merriweather Sans Regular", sans-serif;
}
@font-face {
    font-family: "Merriweather Sans Regular";
    font-display: auto;
    src: local("Merriweather Sans Regular"), url("fonts/Merriweather_Sans/static/MerriweatherSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Merriweather Sans Bold";
    font-display: auto;
    src: local("Merriweather Sans Bold"), url("fonts/Merriweather_Sans/static/MerriweatherSans-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Arial Regular";
    font-display: auto;
    src: local("Arial Regular"), url("fonts/Arial/arial.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Verdana Regular";
    font-display: auto;
    src: local("Verdana Regular"), url("fonts/Fonts/Verdana.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Verdana Bold";
    font-display: auto;
    src: local("Verdana Bold"), url("fonts/Fonts/Verdana-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Roboto Regular";
    font-display: auto;
    src: local("Roboto Regular"), url("fonts/Fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Roboto Black";
    font-display: auto;
    src: local("Roboto Black"), url("fonts/Fonts/Roboto-Black.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Roboto Bold Italic";
    font-display: auto;
    src: local("Roboto Bold Italic"), url("fonts/Fonts/Roboto-BoldItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Roboto Bold";
    font-display: auto;
    src: local("Roboto Bold"), url("fonts/Fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Roboto Medium";
    font-display: auto;
    src: local("Roboto Medium"), url("fonts/Fonts/Roboto-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Roboto Light Italic";
    font-display: auto;
    src: local("Roboto Light Italic"), url("fonts/Fonts/Roboto-LightItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
.uk-background-01 {
    background-color: #504f4f;
}
@media (min-width: 1600px) {
    .uk-grid-5-xl {
        margin-left: -5px !important;
    }
    .uk-grid-5-xl > * {
        padding-left: 5px !important;
    }
    .uk-grid-5-xl > .uk-grid-margin {
        margin-top: 5px !important;
    }
}
@media (min-width: 1200px) {
    .uk-grid-5-l {
        margin-left: -5px !important;
    }
    .uk-grid-5-l > * {
        padding-left: 5px !important;
    }
    .uk-grid-5-l > .uk-grid-margin {
        margin-top: 5px !important;
    }
}
@media (min-width: 960px) {
    .uk-grid-5-m {
        margin-left: -5px !important;
    }
    .uk-grid-5-m > * {
        padding-left: 5px !important;
    }
    .uk-grid-5-m > .uk-grid-margin {
        margin-top: 5px !important;
    }
}
@media (min-width: 640px) {
    .uk-grid-5-s {
        margin-left: -5px !important;
    }
    .uk-grid-5-s > * {
        padding-left: 5px !important;
    }
    .uk-grid-5-s > .uk-grid-margin {
        margin-top: 5px !important;
    }
}
.uk-grid-5 {
    margin-left: -5px;
}
.uk-grid-5 > * {
    padding-left: 5px;
}
.uk-grid-5 > .uk-grid-margin {
    margin-top: 5px;
}
@media (min-width: 1600px) {
    .uk-grid-10-xl {
        margin-left: -10px !important;
    }
    .uk-grid-10-xl > * {
        padding-left: 10px !important;
    }
    .uk-grid-10-xl > .uk-grid-margin {
        margin-top: 10px !important;
    }
}
@media (min-width: 1200px) {
    .uk-grid-10-l {
        margin-left: -10px !important;
    }
    .uk-grid-10-l > * {
        padding-left: 10px !important;
    }
    .uk-grid-10-l > .uk-grid-margin {
        margin-top: 10px !important;
    }
}
@media (min-width: 960px) {
    .uk-grid-10-m {
        margin-left: -10px !important;
    }
    .uk-grid-10-m > * {
        padding-left: 10px !important;
    }
    .uk-grid-10-m > .uk-grid-margin {
        margin-top: 10px !important;
    }
}
@media (min-width: 640px) {
    .uk-grid-10-s {
        margin-left: -10px !important;
    }
    .uk-grid-10-s > * {
        padding-left: 10px !important;
    }
    .uk-grid-10-s > .uk-grid-margin {
        margin-top: 10px !important;
    }
}
.uk-grid-10 {
    margin-left: -10px;
}
.uk-grid-10 > * {
    padding-left: 10px;
}
.uk-grid-10 > .uk-grid-margin {
    margin-top: 10px;
}
@media (min-width: 1600px) {
    .uk-grid-20-xl {
        margin-left: -20px !important;
    }
    .uk-grid-20-xl > * {
        padding-left: 20px !important;
    }
    .uk-grid-20-xl > .uk-grid-margin {
        margin-top: 20px !important;
    }
}
@media (min-width: 1200px) {
    .uk-grid-20-l {
        margin-left: -20px !important;
    }
    .uk-grid-20-l > * {
        padding-left: 20px !important;
    }
    .uk-grid-20-l > .uk-grid-margin {
        margin-top: 20px !important;
    }
}
@media (min-width: 960px) {
    .uk-grid-20-m {
        margin-left: -20px !important;
    }
    .uk-grid-20-m > * {
        padding-left: 20px !important;
    }
    .uk-grid-20-m > .uk-grid-margin {
        margin-top: 20px !important;
    }
}
@media (min-width: 640px) {
    .uk-grid-20-s {
        margin-left: -20px !important;
    }
    .uk-grid-20-s > * {
        padding-left: 20px !important;
    }
    .uk-grid-20-s > .uk-grid-margin {
        margin-top: 20px !important;
    }
}
.uk-grid-20 {
    margin-left: -20px;
}
.uk-grid-20 > * {
    padding-left: 20px;
}
.uk-grid-20 > .uk-grid-margin {
    margin-top: 20px;
}
@media (min-width: 1600px) {
    .uk-grid-30-xl {
        margin-left: -30px !important;
    }
    .uk-grid-30-xl > * {
        padding-left: 30px !important;
    }
    .uk-grid-30-xl > .uk-grid-margin {
        margin-top: 30px !important;
    }
}
@media (min-width: 1200px) {
    .uk-grid-30-l {
        margin-left: -30px !important;
    }
    .uk-grid-30-l > * {
        padding-left: 30px !important;
    }
    .uk-grid-30-l > .uk-grid-margin {
        margin-top: 30px !important;
    }
}
@media (min-width: 960px) {
    .uk-grid-30-m {
        margin-left: -30px !important;
    }
    .uk-grid-30-m > * {
        padding-left: 30px !important;
    }
    .uk-grid-30-m > .uk-grid-margin {
        margin-top: 30px !important;
    }
}
@media (min-width: 640px) {
    .uk-grid-30-s {
        margin-left: -30px !important;
    }
    .uk-grid-30-s > * {
        padding-left: 30px !important;
    }
    .uk-grid-30-s > .uk-grid-margin {
        margin-top: 30px !important;
    }
}
.uk-grid-30 {
    margin-left: -30px;
}
.uk-grid-30 > * {
    padding-left: 30px;
}
.uk-grid-30 > .uk-grid-margin {
    margin-top: 30px;
}
@media (min-width: 1600px) {
    .uk-grid-32-xl {
        margin-left: -32px !important;
    }
    .uk-grid-32-xl > * {
        padding-left: 32px !important;
    }
    .uk-grid-32-xl > .uk-grid-margin {
        margin-top: 32px !important;
    }
}
@media (min-width: 1200px) {
    .uk-grid-32-l {
        margin-left: -32px !important;
    }
    .uk-grid-32-l > * {
        padding-left: 32px !important;
    }
    .uk-grid-32-l > .uk-grid-margin {
        margin-top: 32px !important;
    }
}
@media (min-width: 960px) {
    .uk-grid-32-m {
        margin-left: -32px !important;
    }
    .uk-grid-32-m > * {
        padding-left: 32px !important;
    }
    .uk-grid-32-m > .uk-grid-margin {
        margin-top: 32px !important;
    }
}
@media (min-width: 640px) {
    .uk-grid-32-s {
        margin-left: -32px !important;
    }
    .uk-grid-32-s > * {
        padding-left: 32px !important;
    }
    .uk-grid-32-s > .uk-grid-margin {
        margin-top: 32px !important;
    }
}
.uk-grid-32 {
    margin-left: -32px;
}
.uk-grid-32 > * {
    padding-left: 32px;
}
.uk-grid-32 > .uk-grid-margin {
    margin-top: 32px;
}
@media (min-width: 1600px) {
    .uk-grid-34-xl {
        margin-left: -34px !important;
    }
    .uk-grid-34-xl > * {
        padding-left: 34px !important;
    }
    .uk-grid-34-xl > .uk-grid-margin {
        margin-top: 34px !important;
    }
}
@media (min-width: 1200px) {
    .uk-grid-34-l {
        margin-left: -34px !important;
    }
    .uk-grid-34-l > * {
        padding-left: 34px !important;
    }
    .uk-grid-34-l > .uk-grid-margin {
        margin-top: 34px !important;
    }
}
@media (min-width: 960px) {
    .uk-grid-34-m {
        margin-left: -34px !important;
    }
    .uk-grid-34-m > * {
        padding-left: 34px !important;
    }
    .uk-grid-34-m > .uk-grid-margin {
        margin-top: 34px !important;
    }
}
@media (min-width: 640px) {
    .uk-grid-34-s {
        margin-left: -34px !important;
    }
    .uk-grid-34-s > * {
        padding-left: 34px !important;
    }
    .uk-grid-34-s > .uk-grid-margin {
        margin-top: 34px !important;
    }
}
.uk-grid-34 {
    margin-left: -34px;
}
.uk-grid-34 > * {
    padding-left: 34px;
}
.uk-grid-34 > .uk-grid-margin {
    margin-top: 34px;
}
@media (min-width: 1600px) {
    .uk-grid-35-xl {
        margin-left: -35px !important;
    }
    .uk-grid-35-xl > * {
        padding-left: 35px !important;
    }
    .uk-grid-35-xl > .uk-grid-margin {
        margin-top: 35px !important;
    }
}
@media (min-width: 1200px) {
    .uk-grid-35-l {
        margin-left: -35px !important;
    }
    .uk-grid-35-l > * {
        padding-left: 35px !important;
    }
    .uk-grid-35-l > .uk-grid-margin {
        margin-top: 35px !important;
    }
}
@media (min-width: 960px) {
    .uk-grid-35-m {
        margin-left: -35px !important;
    }
    .uk-grid-35-m > * {
        padding-left: 35px !important;
    }
    .uk-grid-35-m > .uk-grid-margin {
        margin-top: 35px !important;
    }
}
@media (min-width: 640px) {
    .uk-grid-35-s {
        margin-left: -35px !important;
    }
    .uk-grid-35-s > * {
        padding-left: 35px !important;
    }
    .uk-grid-35-s > .uk-grid-margin {
        margin-top: 35px !important;
    }
}
.uk-grid-35 {
    margin-left: -35px;
}
.uk-grid-35 > * {
    padding-left: 35px;
}
.uk-grid-35 > .uk-grid-margin {
    margin-top: 35px;
}
@media (min-width: 1600px) {
    .uk-grid-40-xl {
        margin-left: -40px !important;
    }
    .uk-grid-40-xl > * {
        padding-left: 40px !important;
    }
    .uk-grid-40-xl > .uk-grid-margin {
        margin-top: 40px !important;
    }
}
@media (min-width: 1200px) {
    .uk-grid-40-l {
        margin-left: -40px !important;
    }
    .uk-grid-40-l > * {
        padding-left: 40px !important;
    }
    .uk-grid-40-l > .uk-grid-margin {
        margin-top: 40px !important;
    }
}
@media (min-width: 960px) {
    .uk-grid-40-m {
        margin-left: -40px !important;
    }
    .uk-grid-40-m > * {
        padding-left: 40px !important;
    }
    .uk-grid-40-m > .uk-grid-margin {
        margin-top: 40px !important;
    }
}
@media (min-width: 640px) {
    .uk-grid-40-s {
        margin-left: -40px !important;
    }
    .uk-grid-40-s > * {
        padding-left: 40px !important;
    }
    .uk-grid-40-s > .uk-grid-margin {
        margin-top: 40px !important;
    }
}
.uk-grid-40 {
    margin-left: -40px;
}
.uk-grid-40 > * {
    padding-left: 40px;
}
.uk-grid-40 > .uk-grid-margin {
    margin-top: 40px;
}
@media (min-width: 1600px) {
    .uk-grid-50-xl {
        margin-left: -50px !important;
    }
    .uk-grid-50-xl > * {
        padding-left: 50px !important;
    }
    .uk-grid-50-xl > .uk-grid-margin {
        margin-top: 50px !important;
    }
}
@media (min-width: 1200px) {
    .uk-grid-50-l {
        margin-left: -50px !important;
    }
    .uk-grid-50-l > * {
        padding-left: 50px !important;
    }
    .uk-grid-50-l > .uk-grid-margin {
        margin-top: 50px !important;
    }
}
@media (min-width: 960px) {
    .uk-grid-50-m {
        margin-left: -50px !important;
    }
    .uk-grid-50-m > * {
        padding-left: 50px !important;
    }
    .uk-grid-50-m > .uk-grid-margin {
        margin-top: 50px !important;
    }
}
@media (min-width: 640px) {
    .uk-grid-50-s {
        margin-left: -50px !important;
    }
    .uk-grid-50-s > * {
        padding-left: 50px !important;
    }
    .uk-grid-50-s > .uk-grid-margin {
        margin-top: 50px !important;
    }
}
.uk-grid-50 {
    margin-left: -50px;
}
.uk-grid-50 > * {
    padding-left: 50px;
}
.uk-grid-50 > .uk-grid-margin {
    margin-top: 50px;
}
@media (min-width: 1600px) {
    .uk-grid-55-xl {
        margin-left: -55px !important;
    }
    .uk-grid-55-xl > * {
        padding-left: 55px !important;
    }
    .uk-grid-55-xl > .uk-grid-margin {
        margin-top: 55px !important;
    }
}
@media (min-width: 1200px) {
    .uk-grid-55-l {
        margin-left: -55px !important;
    }
    .uk-grid-55-l > * {
        padding-left: 55px !important;
    }
    .uk-grid-55-l > .uk-grid-margin {
        margin-top: 55px !important;
    }
}
@media (min-width: 960px) {
    .uk-grid-55-m {
        margin-left: -55px !important;
    }
    .uk-grid-55-m > * {
        padding-left: 55px !important;
    }
    .uk-grid-55-m > .uk-grid-margin {
        margin-top: 55px !important;
    }
}
@media (min-width: 640px) {
    .uk-grid-55-s {
        margin-left: -55px !important;
    }
    .uk-grid-55-s > * {
        padding-left: 55px !important;
    }
    .uk-grid-55-s > .uk-grid-margin {
        margin-top: 55px !important;
    }
}
.uk-grid-55 {
    margin-left: -55px;
}
.uk-grid-55 > * {
    padding-left: 55px;
}
.uk-grid-55 > .uk-grid-margin {
    margin-top: 55px;
}
@media (min-width: 1600px) {
    .uk-grid-80-xl {
        margin-left: -80px !important;
    }
    .uk-grid-80-xl > * {
        padding-left: 80px !important;
    }
    .uk-grid-80-xl > .uk-grid-margin {
        margin-top: 80px !important;
    }
}
@media (min-width: 1200px) {
    .uk-grid-80-l {
        margin-left: -80px !important;
    }
    .uk-grid-80-l > * {
        padding-left: 80px !important;
    }
    .uk-grid-80-l > .uk-grid-margin {
        margin-top: 80px !important;
    }
}
@media (min-width: 960px) {
    .uk-grid-80-m {
        margin-left: -80px !important;
    }
    .uk-grid-80-m > * {
        padding-left: 80px !important;
    }
    .uk-grid-80-m > .uk-grid-margin {
        margin-top: 80px !important;
    }
}
@media (min-width: 640px) {
    .uk-grid-80-s {
        margin-left: -80px !important;
    }
    .uk-grid-80-s > * {
        padding-left: 80px !important;
    }
    .uk-grid-80-s > .uk-grid-margin {
        margin-top: 80px !important;
    }
}
.uk-grid-80 {
    margin-left: -80px;
}
.uk-grid-80 > * {
    padding-left: 80px;
}
.uk-grid-80 > .uk-grid-margin {
    margin-top: 80px;
}
@media (min-width: 1600px) {
    .mb-0-xl {
        margin-bottom: 0px !important;
    }
}
@media (min-width: 1200px) {
    .mb-0-l {
        margin-bottom: 0px !important;
    }
}
@media (min-width: 960px) {
    .mb-0-m {
        margin-bottom: 0px !important;
    }
}
@media (min-width: 640px) {
    .mb-0-s {
        margin-bottom: 0px !important;
    }
}
.mb-0 {
    margin-bottom: 0px;
}
@media (min-width: 1600px) {
    .mb-10-xl {
        margin-bottom: 10px !important;
    }
}
@media (min-width: 1200px) {
    .mb-10-l {
        margin-bottom: 10px !important;
    }
}
@media (min-width: 960px) {
    .mb-10-m {
        margin-bottom: 10px !important;
    }
}
@media (min-width: 640px) {
    .mb-10-s {
        margin-bottom: 10px !important;
    }
}
.mb-10 {
    margin-bottom: 10px;
}
@media (min-width: 1600px) {
    .mb-20-xl {
        margin-bottom: 20px !important;
    }
}
@media (min-width: 1200px) {
    .mb-20-l {
        margin-bottom: 20px !important;
    }
}
@media (min-width: 960px) {
    .mb-20-m {
        margin-bottom: 20px !important;
    }
}
@media (min-width: 640px) {
    .mb-20-s {
        margin-bottom: 20px !important;
    }
}
.mb-20 {
    margin-bottom: 20px;
}
@media (min-width: 1600px) {
    .mb-30-xl {
        margin-bottom: 30px !important;
    }
}
@media (min-width: 1200px) {
    .mb-30-l {
        margin-bottom: 30px !important;
    }
}
@media (min-width: 960px) {
    .mb-30-m {
        margin-bottom: 30px !important;
    }
}
@media (min-width: 640px) {
    .mb-30-s {
        margin-bottom: 30px !important;
    }
}
.mb-30 {
    margin-bottom: 30px;
}
@media (min-width: 1600px) {
    .mb-40-xl {
        margin-bottom: 40px !important;
    }
}
@media (min-width: 1200px) {
    .mb-40-l {
        margin-bottom: 40px !important;
    }
}
@media (min-width: 960px) {
    .mb-40-m {
        margin-bottom: 40px !important;
    }
}
@media (min-width: 640px) {
    .mb-40-s {
        margin-bottom: 40px !important;
    }
}
.mb-40 {
    margin-bottom: 40px;
}
@media (min-width: 1600px) {
    .mb-50-xl {
        margin-bottom: 50px !important;
    }
}
@media (min-width: 1200px) {
    .mb-50-l {
        margin-bottom: 50px !important;
    }
}
@media (min-width: 960px) {
    .mb-50-m {
        margin-bottom: 50px !important;
    }
}
@media (min-width: 640px) {
    .mb-50-s {
        margin-bottom: 50px !important;
    }
}
.mb-50 {
    margin-bottom: 50px;
}
@media (min-width: 1600px) {
    .mt-0-xl {
        margin-top: 0px !important;
    }
}
@media (min-width: 1200px) {
    .mt-0-l {
        margin-top: 0px !important;
    }
}
@media (min-width: 960px) {
    .mt-0-m {
        margin-top: 0px !important;
    }
}
@media (min-width: 640px) {
    .mt-0-s {
        margin-top: 0px !important;
    }
}
.mt-0 {
    margin-top: 0px;
}
@media (min-width: 1600px) {
    .mt-10-xl {
        margin-top: 10px !important;
    }
}
@media (min-width: 1200px) {
    .mt-10-l {
        margin-top: 10px !important;
    }
}
@media (min-width: 960px) {
    .mt-10-m {
        margin-top: 10px !important;
    }
}
@media (min-width: 640px) {
    .mt-10-s {
        margin-top: 10px !important;
    }
}
.mt-10 {
    margin-top: 10px;
}
@media (min-width: 1600px) {
    .mt-20-xl {
        margin-top: 20px !important;
    }
}
@media (min-width: 1200px) {
    .mt-20-l {
        margin-top: 20px !important;
    }
}
@media (min-width: 960px) {
    .mt-20-m {
        margin-top: 20px !important;
    }
}
@media (min-width: 640px) {
    .mt-20-s {
        margin-top: 20px !important;
    }
}
.mt-20 {
    margin-top: 20px;
}
@media (min-width: 1600px) {
    .mt-30-xl {
        margin-top: 30px !important;
    }
}
@media (min-width: 1200px) {
    .mt-30-l {
        margin-top: 30px !important;
    }
}
@media (min-width: 960px) {
    .mt-30-m {
        margin-top: 30px !important;
    }
}
@media (min-width: 640px) {
    .mt-30-s {
        margin-top: 30px !important;
    }
}
.mt-30 {
    margin-top: 30px;
}
@media (min-width: 1600px) {
    .mt-40-xl {
        margin-top: 40px !important;
    }
}
@media (min-width: 1200px) {
    .mt-40-l {
        margin-top: 40px !important;
    }
}
@media (min-width: 960px) {
    .mt-40-m {
        margin-top: 40px !important;
    }
}
@media (min-width: 640px) {
    .mt-40-s {
        margin-top: 40px !important;
    }
}
.mt-40 {
    margin-top: 40px;
}
@media (min-width: 1600px) {
    .mt-50-xl {
        margin-top: 50px !important;
    }
}
@media (min-width: 1200px) {
    .mt-50-l {
        margin-top: 50px !important;
    }
}
@media (min-width: 960px) {
    .mt-50-m {
        margin-top: 50px !important;
    }
}
@media (min-width: 640px) {
    .mt-50-s {
        margin-top: 50px !important;
    }
}
.mt-50 {
    margin-top: 50px;
}
.footer__txt,
.fz-14,
.home__box3__desc,
.home__box3__label,
.home__box3__time {
    font-size: 10.8888888889px !important;
}
@media screen and (min-width: 640px) {
    .footer__txt,
    .fz-14,
    .home__box3__desc,
    .home__box3__label,
    .home__box3__time {
        font-size: calc(10.8888888889px + 0 * ((100vw - 640px) / 560)) !important;
    }
}
@media screen and (min-width: 1200px) {
    .footer__txt,
    .fz-14,
    .home__box3__desc,
    .home__box3__label,
    .home__box3__time {
        font-size: 10.8888888889px !important;
    }
}
.fz-15 {
    font-size: 11.6666666667px !important;
}
@media screen and (min-width: 640px) {
    .fz-15 {
        font-size: calc(11.6666666667px + 0 * ((100vw - 640px) / 560)) !important;
    }
}
@media screen and (min-width: 1200px) {
    .fz-15 {
        font-size: 11.6666666667px !important;
    }
}
.fz-16 {
    font-size: 12.4444444444px !important;
}
@media screen and (min-width: 640px) {
    .fz-16 {
        font-size: calc(12.4444444444px + 0 * ((100vw - 640px) / 560)) !important;
    }
}
@media screen and (min-width: 1200px) {
    .fz-16 {
        font-size: 12.4444444444px !important;
    }
}
.footer__dc1,
.footer__subNav > li > a,
.footer__title,
.fz-18,
.home__box2__title {
    font-size: 14px !important;
}
@media screen and (min-width: 640px) {
    .footer__dc1,
    .footer__subNav > li > a,
    .footer__title,
    .fz-18,
    .home__box2__title {
        font-size: calc(14px + 0 * ((100vw - 640px) / 560)) !important;
    }
}
@media screen and (min-width: 1200px) {
    .footer__dc1,
    .footer__subNav > li > a,
    .footer__title,
    .fz-18,
    .home__box2__title {
        font-size: 14px !important;
    }
}
.fz-20 {
    font-size: 15.5555555556px !important;
}
@media screen and (min-width: 640px) {
    .fz-20 {
        font-size: calc(15.5555555556px + 0 * ((100vw - 640px) / 560)) !important;
    }
}
@media screen and (min-width: 1200px) {
    .fz-20 {
        font-size: 15.5555555556px !important;
    }
}
.fz-24,
.home__box3__title {
    font-size: 14.9333333333px !important;
}
@media screen and (min-width: 640px) {
    .fz-24,
    .home__box3__title {
        font-size: calc(14.9333333333px + 3.7333333333 * ((100vw - 640px) / 560)) !important;
    }
}
@media screen and (min-width: 1200px) {
    .fz-24,
    .home__box3__title {
        font-size: 18.6666666667px !important;
    }
}
.fz-28,
.home__box1__content__title {
    font-size: 17.4222222222px !important;
}
@media screen and (min-width: 640px) {
    .fz-28,
    .home__box1__content__title {
        font-size: calc(17.4222222222px + 4.3555555556 * ((100vw - 640px) / 560)) !important;
    }
}
@media screen and (min-width: 1200px) {
    .fz-28,
    .home__box1__content__title {
        font-size: 21.7777777778px !important;
    }
}
.fz-30 {
    font-size: 18.6666666667px !important;
}
@media screen and (min-width: 640px) {
    .fz-30 {
        font-size: calc(18.6666666667px + 4.6666666667 * ((100vw - 640px) / 560)) !important;
    }
}
@media screen and (min-width: 1200px) {
    .fz-30 {
        font-size: 23.3333333333px !important;
    }
}
.line-clamp-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.home__box2__title,
.line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.line-clamp-4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.line-clamp-5 {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.footer__dc1,
.footer__subNav > li > a,
.footer__title {
    font-family: "Merriweather Sans Regular", sans-serif;
}
.footer__title {
    margin-top: 0 !important;
    margin-bottom: 10px !important;
}
@media (min-width: 1200px) {
    .footer__marginTop {
        margin-top: 60px !important;
    }
}
.footer__subNav {
    margin-left: calc(0px - 15px - 1px);
}
.footer__subNav > li {
    padding-left: calc(15px / 2);
}
.footer__subNav > li:before {
    margin-right: calc(15px / 2);
    height: 13px;
}
.footer__subNav > li > a {
    text-transform: inherit !important;
}
.footer__txt {
    color: #bbbbbb;
    font-family: "Merriweather Sans Regular", sans-serif;
}
@media (min-width: 960px) {
    .footer__widthLogo {
        width: 90px;
    }
}
.footer__widthApp {
    width: 140px;
}
.footer__list {
    margin: 0 !important;
}
.footer__list > li:nth-child(n + 2) {
    margin-top: 0px;
}
.home__conTent {
    padding-top: 13px;
}
@media (min-width: 960px) {
    .home__conTent {
        padding-top: 30px;
    }
}
@media (min-width: 1200px) {
    .home__conTent {
        padding-top: 0px;
        padding-bottom: 40px;
    }
}
.home__box1 {
    border-radius: 4px;
    overflow: hidden;
}
@media (min-width: 960px) {
    .home__box1 {
        border-radius: 8px;
    }
}
.home__box1__content {
    top: calc((304 / 513) * 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(38%, rgba(35, 31, 32, 0.5)), to(#231f20));
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(35, 31, 32, 0.5) 38%, #231f20);
}
@media (min-width: 960px) {
    .home__box1__content {
        padding: 20px;
    }
}
.home__box1__content__title {
    line-height: 1.0714285714;
    font-family: "Merriweather Sans Bold", sans-serif;
}
.home__box1__content__title a {
    color: #fff;
}
.home__box2__img {
    border-radius: 4px;
}
@media (min-width: 960px) {
    .home__box2__img {
        border-radius: 8px;
    }
}
.home__box2__title {
    line-height: 1.3333333333;
    font-family: "Merriweather Sans Bold", sans-serif;
}
.home__box2__title a {
    color: #231f20;
}
.home__box3__box > * {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.home__box3__box > :nth-child(n + 2) {
    margin-top: 10px !important;
}
@media (min-width: 960px) {
    .home__box3__box > :nth-child(n + 2) {
        margin-top: 15px !important;
    }
}
.home__box3__title {
    line-height: 1.5;
    font-family: "Merriweather Sans Bold", sans-serif;
}
.home__box3__title a {
    color: #231f20;
}
.home__box3__label {
    font-family: "Merriweather Sans Regular", sans-serif;
    text-transform: capitalize;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f27023), to(#f65f07));
    background-image: linear-gradient(to bottom, #f27023, #f65f07);
}
.home__box3__time {
    color: #bbbbbb !important;
}
.home__box3__desc,
.home__box3__time {
    line-height: 1.29;
    color: #231f20;
    font-family: "Merriweather Sans Regular", sans-serif;
}
/*# sourceMappingURL=style.css.map */
